* {
	margin: 0;
	padding: 0;
}
a:link { 
	color: #00b933; 
}
a:visited { 
	color: #00b933; 
}
html {
	display: flex;
	justify-content: center;
}
body {
	background-color: white;
	color: black;
	font-family: sans-serif; 
	text-align: center;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header { 
	display: flex; 
	justify-content: center;
	align-items: center;
}
hr {
	border-top: 1px solid black;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	width: 95%;
}
form { 
	font-size: 0;
}
main input[type=text] {
	border: 1px solid #00b933;
	width: 22ch;
	outline: none;
	padding: .2rem .6rem;
	font-size: 1.1rem;
}
main button {
	border: 1px solid #00b933;
	border-left: none;
	padding: .2rem .6rem;
	background-color: #00b933;
	font-size: 1.1rem;
	color: white;
}
.langselector {
	font-size: 1.2rem;
}
.letterselector {
	font-size: 1.5rem;
}
/* Styling the results table */
main > table {
	text-align: left; 
	width: 100%; 
}
td {
	width: 50%;
}
tr:nth-Child(odd) { 
	background-color: #f0f0f0; 
}
/* Styling the introductory page */
article { 
	text-align: justify; 
	margin-bottom: 1rem;
}
article h2 { 
	text-align: center; 
	margin-bottom: .5rem;
} 
article ul { 
	text-align: left; 
}
footer { 
	padding-bottom: 1rem; 
}
/* Tablet specific styling */
@media screen and (min-width: 600px) { 
	html {
		background-color: gray;
	}
	body {
		margin: 24px 48px;
		box-shadow: black 8px 8px 4px;
	}
	hr {
		width: 95%;
	}
	main > table {
		font-size: 1.2rem;
		width: 80%; 
	}
}
/* Desktop specific styling */
@media only screen and (min-width: 1280px) { 
    body {
		margin: 24px;
		width: 65%;
	}
	main > table {
		font-size: 1.4rem;	
	}
	section {
		width: 75%;
	}
}